<!DOCTYPE html>
<html>
<head>
  <title>Scribble</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Scribble</h1>

<a class = "nav" href = "/posts">All Posts</a>
<a class = "nav" href = "/posts/new">New Post</a>

<%= yield %>

</body>
</html>
